<section id="home">
<div class='row'>

	<uib-carousel class="gif-carousel" interval="10000">
        <uib-slide ng-repeat="image in images">
            <img ng-src="{{ image }}" />
        </uib-slide>
    </uib-carousel>
	<!-- <img src="http://placehold.it/350x250"> -->
</div>
<div class='row'>
	<div class='col-sm-4'>
		<h3>You:</h3>
		<video  id="v"></video>
		<canvas id="canvas" style="display:none;"></canvas>
		<!-- <img src="http://placehold.it/350x150" id="photo" alt="photo"> -->
	</div>
	<div class='col-sm-8'>
		<h3>Your Progress:</h3>
		<p>{{firstMessage}}</p>
		<p>{{secondMessage}}</p>
		<p>{{thirdMessage}}</p>
		<p>{{fourthMessage}}</p>
<!-- 		<p ng-repeat='label in labels'>{{label.description}}</p>
		<p>anger: {{anger}}</p>
		<p>joy: {{joy}}</p>
		<p>sorrow: {{sorrow}}</p>
		<p>surprise: {{surprise}}</p> -->
	</div>
</div>

</section>


