* {
  box-sizing: border-box;
}

body {

  background: #fdfdfd;
  background-color: #FFD34E;

}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#main {
  margin: 0 auto;
}

@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';

.carousel-control.left, .carousel-control.right, .carousel-indicators {
	display: none;
}

.gif-carousel{
/*  position: relative;
  margin: auto;
  padding: 15px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  max-width: 800px;
  max-height: 450px;
  border-radius: 4px;*/
}

.gif-carousel img {
/*    bottom: 0;
    left: 0;*/
    margin: auto;
    max-height: 250px;
    max-width: 100%;
/*    position: absolute;
    right: 0;
    top: 0;*/
}
.gif-carousel li {
    height: 450px;
    overflow: hidden;
    position: relative;
    text-align: center;
}